/* Cores 
    - Amarelo : #edd32a
*/

/* Backgrounds */
.bg-squash-text-dark{
    background-color: #edd32a !important;
    color: black !important;
}

.bg-squash-text-light{
    background-color: #edd32a !important;
    color: white !important;
}
 
.bg-squash-dark{
    background-color: black !important;
    color: #edd32a !important;
}

.bg-squash-light{
    background-color: white !important;
    color: #edd32a !important;
}


